* {
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Pixelify Sans", sans-serif;
  background: #ffff66;
  user-select: none;
  -webkit-app-region: drag;
}

.app {
  padding: 16px;
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.header {
  color: #eb6c31;
  justify-content: center;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.startBtn,
.nextBtn {
  color: #eb6c31;
  justify-content: center;
  background-color: rgb(255, 208, 175);
  padding: 8px 12px;
  font-size: large;
  border: 2px solid #eb6c31;
  font-family: "Pixelify Sans", sans-serif;
}

.landing-page {
  background-image: url(assets/background.png);
  color: #3d2d22;
  border: 2px solid #d1a34d;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  width: 250px;
  height: 300px;
  margin: auto;
}

.menu-text {
  color: #3d2d22;
  font-size: 0.9rem;
  text-align: left;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

.egg-types {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.egg-asset {
  width: 100px;
  height: 100px;
}

.egg-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: "Pixelify Sans", sans-serif;
  color: #3d2d22;
  font-size: 0.9rem;
}

.btn-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 8px;
}