* {
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Pixelify Sans", sans-serif;
  background: #ffff66;
  user-select: none;
  -webkit-app-region: drag;
}

.app {
  padding: 16px;
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.header {
  color: #eb6c31;
  justify-content: center;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.startBtn, .nextBtn {
  color: #eb6c31;
  justify-content: center;
  background-color: rgb(255, 208, 175);
  padding: 8px 12px;
  font-size: large;
  border: 2px solid #eb6c31;
  font-family: "Pixelify Sans", sans-serif;
}

.landing-page {
  background-image: url(assets/background.png);
  color: #3d2d22;
  border: 2px solid #d1a34d;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 300px;
  margin:auto;
}

.menu-text {
  color: #3d2d22;
  border: 2px solid #d1a34d;
  font-size: medium;
  text-align: left;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 300px;
  margin:auto;
}